<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/index.html" class="nav-link" data-href="/index.html">
                <img src="/images/logo-altekmed.png" class="logo-img" data-src="/images/logo-altekmed.png" alt="AltekMed Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/index.html" class="nav-link" data-href="/index.html">Home</a></li>
            <li class="has-dropdown">
                <a href="/pages/products.html" class="nav-link" data-href="/pages/products.html">Products <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="/pages/products.html#endoscopes" class="nav-link" data-href="/pages/products.html#endoscopes">Endoscopes</a>
                    <a href="/pages/products.html#glucose" class="nav-link" data-href="/pages/products.html#glucose">Glucose Monitoring</a>
                    <a href="/pages/products.html#insulin" class="nav-link" data-href="/pages/products.html#insulin">Insulin Delivery</a>
                </div>
            </li>
            <li class="has-dropdown">
                <a href="./pages/services.html" class="nav-link" data-href="./pages/services.html">Services <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="./pages/services.html#development" class="nav-link" data-href="./pages/services.html#development">Development</a>
                    <a href="./pages/services.html#manufacturing" class="nav-link" data-href="./pages/services.html#manufacturing">Manufacturing</a>
                    <a href="./pages/services.html#quality" class="nav-link" data-href="./pages/services.html#quality">Quality Assurance</a>
                </div>
            </li>
            <li><a href="./pages/technologies.html" class="nav-link" data-href="./pages/technologies.html">Technologies</a></li>
            <li><a href="./pages/news.html" class="nav-link" data-href="./pages/news.html">News</a></li>
            <li><a href="./pages/careers.html" class="nav-link" data-href="./pages/careers.html">Careers</a></li>
            <li><a href="#contact" class="btn-contact">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
