<nav class="navbar">
    <div class="container">
        <div class="logo">            <a href="../index.html">
                <img src="../images/logo.png" alt="AltekMed Logo" class="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html" class="active">Home</a></li>
            <li class="has-dropdown">
                <a href="products.html">Products <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="products.html#endoscopes">Endoscopes</a>
                    <a href="products.html#glucose">Glucose Monitoring</a>
                    <a href="products.html#insulin">Insulin Delivery</a>
                </div>
            </li>
            <li class="has-dropdown">
                <a href="services.html">Services <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="services.html#development">Development</a>
                    <a href="services.html#manufacturing">Manufacturing</a>
                    <a href="services.html#quality">Quality Assurance</a>
                </div>
            </li>
            <li><a href="technologies.html">Technologies</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="#contact" class="btn-contact">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
